.bl_mediaList {
  .bl_mediaListItem {
    margin: $base_margin;

    .bl_media_title {
      margin: auto auto $base_margin;
      border-bottom: solid 2px #040000;
    }
    .bl_media {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .bl_media_imgWrapper {
        max-width: 480px;
        height: auto;
        margin: auto;
      }
      .bl_media_body {
        margin: $base_margin 0 0;
      }
    }
    @media screen and (min-width: $tablet_width) {
      .bl_media {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        .bl_media_imgWrapper {
          width: 400px;
          margin: 0;
        }
        .bl_media_body {
          // min-width: 480px;
          margin: 0 0 0 $base_margin;
        }
      }
    }
    @media screen and (min-width: $pc_width) {
      .bl_media {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        .bl_media_imgWrapper {
        }
        .bl_media_body {
          margin: 0 0 0 $base_margin;
        }
      }
    }
  }
}
